<div class="'seller">
  <div class="signup">
    <h1 class="h1-header">Seller Sign-Up</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        name="name"
        placeholder="Enter Name"
      />
      <input
        class="form-input"
        type="password"
        ngModel
        name="password"
        placeholder="enter password"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        name="email"
        placeholder="Enter Email"
      />
      <button class="form-button">Sign-Up</button>
    </form>
  </div>
</div>
